<!DOCTYPE html><!-- このファイルがHTMLであることを宣言 -->
<html lang="ja"><!-- 言語は日本語に設定 -->

<head>
    <meta charset="utf-8">
    <link rel=stylesheet href=#####(1)#####><!-- cssファイルの読み込み -->
    <link rel="icon" href=#####(2)#####><!-- ファビコンの設定 -->
    <title>台形面積ツール</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="">台形面積ツール</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="">NEWS</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>〜 HTML/CSSゼミ 〜</h1>
        <div class="content">
            <h1>台形の面積を計算してみよう</h1>
            <#####(3)##### src="../static/images/daikei.png" alt="台形" id="daikei_image">
            <div id="click_btn">
                <a href="">Click</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer_logo">©︎ GeekSalon_AI_html_cssゼミ</div>
    </footer>
</body>
</html>